@font-face {
  font-family: "iconfont"; /* Project id 3602884 */
  src: url('//at.alicdn.com/t/c/font_3602884_o3myf5lqgj.woff2?t=1661139843541') format('woff2'),
       url('//at.alicdn.com/t/c/font_3602884_o3myf5lqgj.woff?t=1661139843541') format('woff'),
       url('//at.alicdn.com/t/c/font_3602884_o3myf5lqgj.ttf?t=1661139843541') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_lyric:before {
  content: "\e6db";
}

.icon_praise:before {
  content: "\e613";
}
