:root {
  color-scheme: light;
  --el-color-primary: #ec4141;
  --bgColor: #fff;
  --topNavColor: #ec4141;
  --bottomNavColor: #fff;
  --textColor: #3e3e3e;
  --hoverColor: #e6e6e679;
  --borderColor: #e0e0e0;
  --loadColor: #f3f3f3;
  --tableColor: #f3f3f382;
  --eventBgc: #f4f4f4;
  --chlidCommentBgc: #ececec9c;
  --nameColor: #4584dc;
  --replyContentBgc: #e6e6e6;
  --eventCommentBgc: #fff;
  --inputBorderColor: #dcdfe6;
  --disableColor: #dfdfdf;
  --titleColor: #fff;
  --popoColor: #5493d3;
  --unpopoColor: #e5e5e5;
  --chatBgc: #fafafa;
  --messageColor: #fff;
  --menuDisableColor: #e2e2e2;
  --menuBgc: #fff;
}
html.dark {
  color-scheme: dark;
  --el-color-primary: #ec4141;
  --el-fill-color-blank: #484848;
  --bgColor: #313134;
  --topNavColor: #202023;
  --bottomNavColor: #202023;
  --textColor: #dcdcdc;
  --hoverColor: #ffffff15;
  --borderColor: #4c4c4c;
  --loadColor: #292929;
  --tableColor: #2c2c2c;
  --eventBgc: #393939;
  --chlidCommentBgc: #393939;
  --nameColor: #75aeff;
  --replyContentBgc: #333333;
  --eventCommentBgc: #505050;
  --inputBorderColor: transparent;
  --disableColor: #4a4a4a;
  --titleColor: #ec4141;
  --popoColor: #495b6d;
  --unpopoColor: #545454;
  --chatBgc: #ffffff15;
  --messageColor: #ffffff15;
  --menuDisableColor: #353434;
  --menuBgc: #141414;
}
