:root {
  color-scheme: light;
  --el-color-primary: #ec4141;
  --bgColor: #fff;
  --topNavColor: #ec4141;
  --bottomNavColor: #fff;
  --textColor: #3e3e3e;
  --hoverColor: #e6e6e679;
  --borderColor: #e0e0e0;
  --loadColor: #f3f3f3;
  --tableColor: #f3f3f382;
  --eventBgc: #f4f4f4;
  --chlidCommentBgc: #ececec9c;
  --nameColor: #4584dc;
  --replyContentBgc: #e6e6e6;
  --eventCommentBgc: #fff;
  --inputBorderColor: #dcdfe6;
}
html.dark {
  color-scheme: dark;
  --el-color-primary: #ec4141 !important;
  --el-fill-color-blank: #484848;
  --bgColor: #313134;
  --topNavColor: #202023;
  --bottomNavColor: #202023;
  --textColor: #dcdcdc;
  --hoverColor: #ffffff15;
  --borderColor: #4c4c4c;
  --loadColor: #292929;
  --tableColor: #2c2c2c;
  --eventBgc: #393939;
  --chlidCommentBgc: #393939;
  --nameColor: #75aeff;
  --replyContentBgc: #333333;
  --eventCommentBgc: #505050;
  --inputBorderColor: transparent;
}
